<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true">

  <!-- enable asp.net core layout renderers -->
  <extensions>
    <add assembly="NLog.Web.AspNetCore"/>
    <add assembly="NLog.Custom.LayoutRenderers" />
  </extensions>

  <!-- path variable -->
  <variable name="log-dir" value="${basedir}${ds}log${ds}"/>
  <variable name="archive-log-dir" value="${basedir}${ds}log${ds}archive${ds}"/>

  <!-- layout variables -->
  <variable name="time-fv" value="${date:format=yyyy-MM-dd HH\:mm\:ss.fff}"/>
  <variable name="level-fv" value="${pad:padding=5:inner=${level:uppercase=true}}"/>
  <variable name="event-fv" value="${event-properties:item=EventId_Id}"/>
  <variable name="logger-fv" value="${logger}"/>
  <variable name="message-fv" value="${message}"/>
  <variable name="error-fv" value="${onexception:inner=${newline}${exception:format=tostring:separator=${newline}}"/>
  <variable name="route-fv" value="url: ${aspnet-request-url} (action: ${aspnet-mvc-action})"/>

  <!-- the targets to write to -->
  <targets>
    <!-- write logs to file  -->
    <target xsi:type="File"
            name="allfile"
            encoding="utf-8"
            fileName="${log-dir}all-logs.log"
            layout="${time-fv} | ${event-fv} | ${level-fv} | ${logger-fv} | ${message-fv} ${error-fv}"
            maxArchiveFiles="14"
            archiveFileName="${archive-log-dir}all-logs.{#}.log"
            archiveNumbering="Date"
            archiveEvery="Day"
            archiveDateFormat="yyyyMMdd"/>

    <!-- another file log, only own logs. Uses some ASP.NET core renderers -->
    <target xsi:type="File"
            name="ownFile-web"
            encoding="utf-8"
            fileName="${log-dir}nlog-own.log"
            layout="${time-fv} | ${route-fv}${newline}${event-fv} | ${level-fv} | ${logger-fv} | ${message-fv} ${error-fv}"
            maxArchiveFiles="14"
            archiveFileName="${archive-log-dir}all-logs.{#}.log"
            archiveNumbering="Date"
            archiveEvery="Day"
            archiveDateFormat="yyyyMMdd"/>
  </targets>

  <!-- rules to map from logger name to target -->
  <rules>
    <!--All logs, including from Microsoft-->
    <logger name="*" minlevel="Trace" writeTo="allfile" />
    <!--Skip non-critical Microsoft logs and so log only own logs-->
    <logger name="Microsoft.*" maxlevel="Info" final="true" />
    <!-- BlackHole without writeTo -->
    <logger name="*" minlevel="Trace" writeTo="ownFile-web" />
  </rules>
</nlog>